@charset "UTF-8";

/*여기부터 기본값*/


html,body{
	height: 100%;
}

body {
	color: black;
	display: flex;
  	flex-direction: column; 
  	position: relative;
}

section{
	flex: 1;
}

footer{
	text-align: left;
	text-decoration: none;
}
/*여기까지 기본값*/

h1 {
	font-family: 'NanumSquareNeo'; 
}

.login_text{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.go_login{
	margin: 5px 0px 0px 20px;
}

#wrap {
	font-family: 'NanumSquareNeo';
	margin-bottom: 140px;
}

#btn_login{
	border-radius: 5px; /*버튼 모서리 둥글게*/
	width: 120px; 
	height: 50px; 
	color: white; 
	border-color:rgb(0, 87, 146); 
	background-color: rgb(0, 87, 146); 
	font-size: 19px; 
	font-family: 'NanumSquareNeoBold';
}

.login_part{
	margin-top: 60px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
 	justify-content: center;
 	align-content: center;
}

.chk_id{
	display: flex;
	flex-direction: row;
	justify-content: center;
 	align-content: center;
 	font-size: 12px;
}

.button{
	margin: 50px 0px 0px 0px;
	display: flex;
	flex-direction: row;
 	justify-content: center;
 	align-content: center;
}

.bottom_btn{
	border-radius: 5px; /*버튼 모서리 둥글게*/
	width: 130px; 
	height: 40px; 
	margin: 15px;
	border-color:rgb(0, 87, 146); 
	background-color: rgb(0, 87, 146); 
	font-size: 13px; 
	font-family: 'NanumSquareNeo'; 
}

.login_text p{
	display: inline-block;
	margin: 5px;
}

.login_all {
	padding-top: 60px;
}


