@charset "UTF-8";

 
/* 프로그래스 바 */

.progressbar-wrapper {
      background: #fff;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 40px;
      border-bottom: 3px solid gray;
}

.progressbar {
	display: flex;
	align-content: center;
	justify-content: center;
}

.progressbar li {
	font-family: 'NanumSquareNeo';
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: gray;
}

.progressbar li:before {
    width: 60px;
    height: 60px;
    content: "";
    line-height: 60px;
    border: 2px solid  rgb(0, 87, 146);
    display: block;
    text-align: center;
    margin: 0 auto 3px auto;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background-color: #fff;
}
.progressbar li:after {
     width: 100%;
     height: 6px;
     content: '';
     position: absolute;
     background-color: rgb(0, 87, 146);
     top: 30px;
     left: -50%;
     z-index: 0;
}
.progressbar li:first-child:after {
     content: none;
}

.progressbar li.active {
    color: #000000;
    font-weight: bold;  
}
.progressbar li.active:before {
    border-color: rgb(0, 87, 146);
    background: rgb(0, 87, 146);
 }
.progressbar li.active + li:after {
    background-color:  rgb(0, 87, 146);
}

.progressbar li.active:before {
    background: rgb(0, 87, 146)  ;
    background-size: 60%;
}
.progressbar li::before {
    background: rgb(253, 95, 0) ;
    background-size: 60%;
}

.progressbar {
    counter-reset: step;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    color:#fff; 
}

/* 프로그래스 바 끝 */

.my_nanumi {
	text-align: center;
	flex-direction: column;
	padding: 60px;
}

.button {
	display: flex;
	justify-content: center;
 	align-content: center;
 	margin-bottom: 150px;
}


.nanum_btn1 {
	border-radius: 5px; /*버튼 모서리 둥글게*/
	width: 110px; 
	height: 40px; 
	color: white; 
	border-color:rgb(0, 87, 146); 
	background-color: rgb(0, 87, 146); 
	font-size: 13px; 
	font-family: 'NanumSquareNeoBold';
	margin: 10px;
}































