<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="donator">
	<select id="getdonator_id" parameterType="String" resultType="dvo">
		select * from donator where id = #{id}
	</select>
	<select id="count" resultType="int">
		select count(*) from donator
	</select>
	<select id="donator_list" parameterType="Map" resultType="dvo">
		select * from(
		select rownum r_num, a.*
		from (select * from donator order by
		donator_idx asc)
		a) where r_num between #{begin} and #{end}
	</select>
</mapper>