<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="getnick_name" parameterType="String"
		resultType="mvo">
		select * from
		member where id = #{id}
	</select>

	<update id="change_nick" parameterType="mvo">
		update member set
		nickname = #{nickname} where id = #{id}
	</update>

	<update id="update_prof" parameterType="mvo">
		update member set
		p_f_name = #{p_f_name} where id = #{id}
	</update>

	<select id="count" resultType="int">
		select count(*) from member
	</select>

	<select id="list" parameterType="Map" resultType="mvo">
		select * from (
		select rownum r_num, a.*
		from (select * from member order by id desc) a
		) where r_num between
		#{begin} and #{end}
	</select>
	<select id="onelist" parameterType="String" resultType="mvo">
		select *
		from member where id = #{id}
	</select>
	<update id="update" parameterType="Map">
		update member set pw =
		#{pw}, phone = #{phone}, email = #{email}, tag =
		#{tag}, tag_open
		= #{tag_open}, s_history_open = #{s_history_open},
		address = #{address} where
		id = #{id}
	</update>
</mapper>