<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="review">
 	
 	<!-- 후기 리스트 전체 갯수
 	<select id="review_count" resultType="int">
 		SELECT COUNT(*) from REVIEW
 	</select> -->
 	
 	<!-- 후기 리스트 게시 갯수 -->
 	<select id="review_count" resultType="int">
 		SELECT COUNT(*) from REVIEW WHERE RE_STATE = '게시'
 	</select>
 	
 	<!-- 후기 리스트 보기 -->
 	<select id="review_list" parameterType="Map" resultType="revo">
 		SELECT * FROM (SELECT ROWNUM R_NUM, a.*
 		FROM (SELECT * FROM REVIEW WHERE RE_STATE = '게시' ORDER BY REVIEW_IDX DESC) a)
 		WHERE R_NUM BETWEEN #{begin} and #{end}
 	</select>
	
 	<!-- 후기 작성글 조회수 증가 -->
 	<update id="review_hitup" parameterType="String">
		UPDATE REVIEW SET RE_HIT = re_hit + 1  WHERE REVIEW_IDX = #{review_idx}
	</update>
 	
 	<!-- 후기 상세보기 -->
  	<select id="review_detail" resultType="revo" parameterType="String">
 		SELECT * FROM REVIEW WHERE REVIEW_IDX = #{review_idx}
 	</select> 
 	
 	<!-- 후기 작성글 삽입 -->
 	<insert id="review_insert" parameterType="revo" >
 		INSERT INTO REVIEW (REVIEW_IDX, ID, RE_TITLE, NICKNAME, RE_CONTENT, RE_F_NAME1,
			RE_F_NAME2, RE_F_NAME3, RE_F_NAME4, RE_F_NAME5, RE_DATE, RE_HIT, RE_STATE)
 		VALUES (REVIEW_SEQ.NEXTVAL ,#{id}, #{re_title}, #{nickname}, #{re_content}, #{re_f_name1}, 
 			#{re_f_name2}, #{re_f_name3}, #{re_f_name4}, #{re_f_name5}, SYSDATE, 0, '게시')
 	</insert>
	
	<!-- 후기 작성글 업데이트 -->
	<update id="review_update" parameterType="revo">
		UPDATE REVIEW SET RE_TITLE = #{re_title}, RE_CONTENT = #{re_content},
			RE_F_NAME1 = #{re_f_name1}, RE_F_NAME2 = #{re_f_name2}, RE_F_NAME3 = #{re_f_name3},
			RE_F_NAME4 = #{re_f_name4}, RE_F_NAME5 = #{re_f_name5}, RE_DATE = SYSDATE
		WHERE REVIEW_IDX = #{review_idx}
	</update>
	
	<!-- 후기 작성글 삭제1
	<delete id="review_delete" parameterMap="String">
		DELETE FROM REVIEW WHERE REVIEW_IDX = #{review_idx}
	</delete>
	 -->
	 
	 <!-- 후기 작성글 삭제2 -->
	 <update id="review_delete" parameterType="String">
	 	UPDATE REVIEW SET RE_STATE = '삭제' WHERE REVIEW_IDX = #{review_idx}
	 </update>
 </mapper>